<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Austin Tooley, Brian Armstrong, Kenneth Heyen">
	<title>dbPiandistic</title>

  <!--favicon-->
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAA
  AAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAenp6AL29vQD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiAiIgIiIAAAAAAAAAAAAzMwMzMDMzADMzAzMwMzMAMzMDM
  zAzMwAzMwMzMDMzADMxETMREzMAMzAAMwADMwAzMAAzAAMzADMwADMAAzMAMzAAMwADMwAzMAAzAAMzADMwADMAA
  zMAMzAAMwADMwAAAAAAAAAACEIQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  AAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
	
	<!--stylesheets-->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
	
	<!--JS-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="js/tablesorter/jquery.tablesorter.js"></script>
  <script src="js/tablesorter/tables.js"></script>
	<script type="text/javascript" src="front.js"></script>

</head>
	<body onload="getInfo()" ng-controller="dbController">
		<div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">dbPianistic</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="index.html">Current Tasks</a></li>
            <li class="active"><a href="pianos.html">Pianos</a></li>
            <li ><a href="locations.html">Locations</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="addPiano.html">Add Piano</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <div class="col-lg-12">
            <h2>Pianos </span></h2>
            <div class="col-lg-12">
              <form action="">
                <div class="searchBox">
                  <div class="search">
                    <label>ID: </label>
                    <input type="text" placeholder="11271989" ng-model="search.byui_piano_id"/>
                  </div>
                  <div class="search">
                    <label>Type: </label>
                    <input type="text" placeholder="Upright" ng-model="search.type_text"/>
                  </div>
                  <div class="search">
                    <label>Make: </label>
                    <input type="text" placeholder="Yamaha" ng-model="search.make_name"/>
                  </div>
                  <div class="search">
                    <label>Model: </label>
                    <input type="text" placeholder="UST7" ng-model="search.model_name"/>
                  </div>
                  <div class="search">
                    <label>Building: </label>
                    <input type="text" placeholder="Austin" ng-model="search.building_name"/>
                  </div>
                </div>
                  <br>
                <div class="searchBox">
                  <div class="search">
                    <label>Year: </label>
                    <input type="text" placeholder="1989" ng-model="search.year"/>
                  </div>
                  <div class="search">
                    <label>Age: </label>
                    <input type="text" placeholder="24" ng-model="search.age"/>
                  </div>
                  <div class="search">
                    <label>Condition: </label>
                    <input type="text" placeholder="Good" ng-model="search.condition_text"/>
                  </div>
                  <div class="search">
                    <label>Serial: </label>
                    <input type="text" placeholder="A80185" ng-model="search.mfg_serial"/>
                  </div>
                  <div class="search">
                    <label>Room #: </label>
                    <input type="text" placeholder="310" ng-model="search.room_number"/>
                  </div>
                </div>
              </form>
            </div>
            <div class="table-responsive tableBox">
              <table class="table table-bordered table-hover table-striped tablesorter pianos">
                <thead>
                  <tr>
                    <th>BYU-I ID <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Type <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Make <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Model <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Year <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Age <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Location <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Serial # <span class="glyphicon glyphicon-chevron-down"></th>
                    <th>Condition <span class="glyphicon glyphicon-chevron-down"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="piano in pianos | filter:search | orderBy:'byui_piano_id'" ng-cloak ng-click="openPage(piano)">
                      <td>{{piano.byui_piano_id}}</td>
                      <td>{{piano.type_text}}</td>
                      <td>{{piano.make_name}}</td>
                      <td>{{piano.model_name}}</td>
                      <td>{{piano.year}}</td> 
                      <td>{{piano.age}}</td>
                      <td>{{piano.building_name}}, {{piano.room_number}}</td>
                      <td>{{piano.mfg_serial}}</td>
                      <td>{{piano.condition_text}}</td>
                    </tr>
                </tbody>
              </table>
              <ul>
                <li ng-repeat="test in testing">{{test}}</li>
              </ul>
            </div>
          </div>
<!--
      <h2> Get Piano Info </h2>
		<br> Enter Piano Type <input type="text" id="type">
		<input type="button" value="Get Info" onclick="getInfo();"/>
		<br> Location : <span id="Location1"></span> <br
		> ID : <span id="ID1"></span> <br
		> Condition : <span id="Condition1"></span> <br>
-->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/bootstrap.min.js"></script>



</body>
</html>